<div class="grid_12"><div id="{{element.CSSid}}" class="{{element.classThumb}} fx-fade-normal fx-easing-quart fx-speed-250" data-ng-repeat="element in filteredData" data-ng-click="showPortfolioItem($event); $event.preventDefault();"><!--
		 --><a data-ng-href="{{element.href}}"><!--
			 --><img ng-src="img/{{element.mainThumbnail}}" alt="{{element.titleThumb}}"><!--
			 --><span class="text-hide">{{element.titleThumb}}</span><!--
			 --><!-- INSIDE INFO --><!--
			 --><div class="info smooth"><!--
				 --><h4>{{element.titleThumb}}</h4><!--
				 --><hr><!--
				 --><h4>{{element.type}}</h4><!--
			 --></div><!--
		 --></a><!--
	 --></div><!--
	 --></div><!-- .grid_12 END -->
<div class="clear"></div>