<!-- LATESTS WORK BTN -->
<!-- <a class="latest-works inline-block absolute boxsizing btn" href="#"><span><i class="icon-x-circle"></i></span></a> -->
<a class="latest-works inline-block absolute boxsizing btn" ui-sref="home"><span><i class="icon-x-circle"></i></span></a>

<!-- PORTFOLIO SECTION: Hidden on default, opened after clicking on "Latests Work" button -->
<div class="container clearfix portfolio-wrapper" >

	<!-- FILTER TAGS -->
	<ul class="tags grid_12">
		<!-- <li class="inline-block tag" data-ng-repeat="tag in data.tags"><i class="icon-tag icon"></i><a class="filter btn smooth" ng-href="#/works/{{tag}}" data-ng-click="portfolioFilter($event);">{{tag}}</a></li> -->
		<li class="inline-block tag" data-ng-repeat="tag in data.tags"><i class="icon-tag icon"></i><a class="filter btn smooth" ui-sref="works.tag({ tag: tag })" href data-ng-click="portfolioFilter($event);">{{tag}}</a></li>
	</ul>

	<!-- PORTFOLIO ITEMS -->
	<div id="Container" class="clearfix">

				 <!--<a data-ng-href="{{element.href}}">-->
		<!-- PORTFOLIO GRID THUMBNAILS -->
		<!-- <div ui-view></div> -->
		<div class="grid_12"><div id="{{element.CSSid}}" class="{{element.classThumb}} fx-fade-normal fx-easing-quart fx-speed-50" data-ng-repeat="element in filteredData" data-ng-click="showPortfolioItem($event); $event.preventDefault();"><!--
				 --><a ui-sref="works.single({ CSSid: element.CSSid })"><!--
					 --><img ng-src="img/{{element.mainThumbnail}}" alt="{{element.titleThumb}}"><!--
					 --><span class="text-hide">{{element.titleThumb}}</span><!--
					 --><!-- INSIDE INFO --><!--
					 --><div class="info smooth"><!--
						 --><h4>{{element.titleThumb}}</h4><!--
						 --><hr><!--
						 --><h4>{{element.type}}</h4><!--
					 --></div><!--
				 --></a><!--
			 --></div><!--
			 --></div><!-- .grid_12 END -->
		<div class="clear"></div>

		<!-- PORTFOLIO DESCRIPTION -->
		<div class="portfolio-info-wrapper clearfix grid_12 boxsizing">

			<!-- PIVODAMIAN DESCRIPTION -->
			<div class="{{element.CSSid}} portfolio-info clearfix" data-ng-repeat="element in data.projects.projectItems" data-ng-show="element.CSSid == itemTitleToShow">
				<!-- LEFT SIDEBAR -->
				<div class="portfolio-info-left boxsizing">
					<h2 class="text-left block">{{element.titleH2}}</h2>
					<h3>Description</h3>
					<p data-ng-repeat="desc in element.description"><span data-ng-show="element.description.length !== 1 ">&#8226; </span>{{desc}}</p>
					<!-- If there is no 'Features' part in projectItems array hide this -->
					<h3 data-ng-hide="data.projects.projectItems[$index].features.length < 1">Features</h3>
					<p data-ng-repeat="feature in element.features"><span data-ng-show="element.features.length !== 1 ">&#8226; </span>{{feature}}</p>
				</div>

				<!-- RIGHT SIDEBAR -->
				<div class="portfolio-info-right boxsizing">
					<!-- ICONS -->
					<ul>
						<li><i class="icon-eye icon"></i><a target="_blank" ng-href="{{element.livePreview}}">Live Preview</a></li>
						<!-- If there is no 'GitHub' link in projectItems array hide this -->
						<li data-ng-if="data.projects.projectItems[$index].githubLink.length < 1"><i class="icon-github-alt icon"></i><a target="_blank" ng-href="{{element.githubLink}}">github.com</a></li>
						<li><i class="icon-clock icon"></i>{{element.projectDate}}</li>
						<li><i class="icon-tag icon"></i><span ng-repeat="tag in element.tags">{{tag}}<span ng-show=" ! $last ">, </span></span></li>
					</ul>

					<!-- GALLERY -->
					<div class="gallery">
						<!-- If there is no 'Gallery' for actual project in projectItems array hide this -->
						<h3 data-ng-hide="data.projects.projectItems[$index].thumbs.length < 1">Gallery</h3>
						<ul class="magnificPopup">
							<li class="grid_50" ng-repeat="img in element.images">
								<!-- MAGNIFIC POPUP DIRECTIVE -->
								<a ng-href="img/gallery/{{img}}" >
									<img alt="{{element.CSSid}} thumb" ng-src="img/gallery/{{element.thumbs[$index]}}">
								</a>
							</li>
						</ul>
					</div>

				</div><!-- .portfolio-info-right END -->
			</div><!-- .pivodamian END -->


		</div><!-- .portfolio-info-wrapper END -->
	</div><!-- #Container END -->
</div><!-- .portfolio-wrapper END -->